/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Base */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans', sans-serif; }

ul {
  list-style: none; }
  ul li {
    font-size: 24px;
    line-height: 34px; }

h1 {
  font-size: 80px;
  font-weight: 400; }

h2 {
  font-size: 32px; }

p {
  font-size: 20px;
  line-height: 28px; }

img {
  display: block; }

a {
  text-decoration: none;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear; }

.wrap {
  max-width: 1920px; }

.container {
  width: 1200px;
  margin: 0 auto; }

header {
  padding: 47px 0 48px 0; }
  header h1 {
    line-height: 94px;
    padding-bottom: 17px;
    border-bottom: 2px solid #000;
    margin-bottom: 48px; }

.main .main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 45px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px; }
  .main .main-title h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main .main-title h2 span {
      font-size: 24px;
      color: #a00404;
      font-weight: 500;
      margin-left: 16px;
      font-family: 'Roboto', sans-serif; }

.main ul {
  margin-bottom: 72px; }
  .main ul li {
    margin-bottom: 24px; }

.main .main-list {
  border-left: 1px solid #96A9C4;
  padding-left: 24px; }
  .main .main-list img {
    margin: 8px 0 8px 0; }

.minor {
  background: #415165;
  padding: 24px 0 36px 0;
  color: #ffffff;
  margin-bottom: 72px; }
  .minor .minor-row {
    padding: 0 102px 0 102px; }
    .minor .minor-row .minor-title {
      line-height: 45px;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
      margin-bottom: 40px; }
  .minor h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .minor h2 span {
      color: #ffffff;
      font-size: 24px;
      margin-left: 16px; }
  .minor ul {
    font-weight: 300;
    text-align: center; }
    .minor ul li {
      margin-bottom: 16px; }
  .minor a {
    color: #ffffff; }
    .minor a:hover {
      color: #a0a0a0; }
  .minor .minor-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .minor .minor-list ul {
      border-left: 1px solid #96A9C4;
      padding-left: 24px; }
      .minor .minor-list ul li {
        text-align: left;
        margin-bottom: 20px;
        line-height: 28px; }
        .minor .minor-list ul li:last-child {
          margin-bottom: 0; }

footer {
  margin-bottom: 0 !important; }
  footer .minor-title {
    line-height: 45px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px; }
  footer .community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer .community a {
      margin-right: 24px; }
      footer .community a:last-child {
        margin-right: 0; }
      footer .community a:hover {
        opacity: 0.5; }
