.wrap {
    max-width: 1920px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    padding: 47px 0 48px 0;
    h1 {
        line-height: 94px;
        padding-bottom: 17px;
        border-bottom: 2px solid #000;
        margin-bottom: 48px;
    }
}

// 主要區塊(白底色)
.main {
    .title {
        display: flex;
        align-items: center;
        line-height: 45px;
        padding-bottom: 8px;
        border-bottom: 1px solid #000;
        margin-bottom: 16px;
        h2 {
            display: flex;
            align-items: center;
            span {
                font-size: 24px;
                color: #a00404;
                font-weight: 500;
                margin-left: 16px;
                font-family: 'Roboto', sans-serif;
            }
        }
        
    }
    ul {
        margin-bottom: 72px;
        li {
            margin-bottom: 24px;
        }
    }

    .main-list {
        border-left: 1px solid #96A9C4;
        padding-left: 24px;
        img {
            margin: 8px 0 8px 0;
        }
    }
}


// 次要區塊(灰藍底)
.minor {
    background: #415165;
    padding: 24px 0 36px 0;
    color: #ffffff;
    margin-bottom: 72px;

    // 標題區塊寬度較小
    .minor-row {
        padding: 0 102px 0 102px;
        // 與下方間距40px
        .title {
            line-height: 45px;
            padding-bottom: 8px;
            border-bottom: 1px solid #fff;
            margin-bottom: 40px;
        }
    }

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: #ffffff;
            font-size: 24px;
            margin-left: 16px;
        }
    }
    ul {
        font-weight: 300;
        text-align: center;
        li {
            margin-bottom: 16px;
        }
    }
    a {
        color: #ffffff;
        &:hover {
            color: rgb(160, 160, 160);
        }
    }

    .minor-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
            border-left: 1px solid #96A9C4;
            padding-left: 24px;
            li {
                text-align: left;
                margin-bottom: 20px;
                line-height: 28px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

footer {
    margin-bottom: 0 !important;

    // 標題區塊寬度滿版
    // 與下方間距32px
    .title {
        line-height: 45px;
        padding-bottom: 8px;
        border-bottom: 1px solid #fff;
        margin-bottom: 32px;
    }

    .community {
        display: flex;
        justify-content: center;
        a {
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}